.container_min{
  overflow-y: scroll;
  height: 910px;
  width: 1656px;
  padding-top: 20px;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.container_max{
  overflow-y: scroll;
  height: 910px;
  width: 1920px;
  padding-top: 20px;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  justify-content: center;
}